/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
    z-index:-4;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  width: 12%;
  padding: 20px;
}


.contentChat {
  position: sticky;
  width: 12%;
  padding-right: 90px;
  padding-top:20px;
  padding-left: 20px;
  margin-bottom: 200px;
  
}




/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  z-index:4;
    display: block;
}


#myBtnChat {
  width: 200px;
  z-index:4;
    display: block;
}


.twitchplayero {
    
  display: flex;
  margin-top: 400px;
  justify-content: center;
  align-items: center;
  height: 200px;
  z-index:20;
}


.twitchchatto {
    
  display: flex;
  margin-top: -200px;
  margin-left:1200px;
  justify-content: center;
  align-items: center;
  height: 200px;
  z-index:21;
}


.ryanlogodiv {
    
  display: flex;
  margin-top: -560px;
  justify-content: center;
  align-items: center;
  /*height: 300px;*/
  /*width: 200px;*/
  z-index:20;
}

.ryanlogozelf {
    
    height:30%;
    
}

.playpause {

    width:40%;
    
}

.chattobutton {

    width:40%;
    
}

@media only screen and (max-width: 1000px) {

.ryanlogodiv {
    
  display: flex;
  margin-top: -640px;
  justify-content: center;
  align-items: center;
  /*height: 300px;*/
  /*width: 200px;*/
  z-index:20;
}



.content {
  position: fixed;
  display: block;  
  bottom: 0;
  width: 35%;
  padding: 20px;
}


/*.contentChat {*/
/*  position: fixed;*/
/*  display: block;*/
/*  width: 35%;*/
/*  padding-right: 40px;*/
/*  padding-top: 470px;*/
/*  padding-left: 400px;*/
  
/*}*/


.twitchplayero {
    
  display: flex;
  margin-top: 500px;
  justify-content: center;
  align-items: center;
  height: 200px;
  z-index:20;
}


.twitchchatto {
    
  display: flex;
  margin-top: 300px;
  margin-left:0px;
  justify-content: center;
  align-items: center;
  height: 200px;
  z-index:21;
}






}